/* line 1892, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
.sprite {
  background-image: url("3s - LGN-icons-spritesheet-small.png");
  background-repeat: no-repeat;
  display: inline-block;
  top: 3px;
  position: relative;
  margin-right: 10px;
  float: left;
  margin-bottom: 10px;
  width: 29px;
  height: 29px; }
  /* line 1903, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.support {
    background-position: -2.5px -2.5px; }
  /* line 1906, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.standby {
    background-position: -35.5px -2.5px; }
  /* line 1909, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.security {
    background-position: -68.5px -2.5px; }
  /* line 1912, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.system-tray {
    background-position: -101.5px -2.5px; }
  /* line 1915, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.protection {
    background-position: -134.5px -2.5px; }
  /* line 1918, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.rm-reporting {
    background-position: -2.5px -35.5px; }
  /* line 1921, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.service-desk {
    background-position: -35.5px -35.5px; }
  /* line 1924, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.remote-access {
    background-position: -68.5px -35.5px; }
  /* line 1927, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.patch-management {
    background-position: -101.5px -35.5px; }
  /* line 1930, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.mobile-device-management {
    background-position: -134.5px -35.5px; }
  /* line 1933, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.online-backup {
    background-position: -2.5px -68.5px; }
  /* line 1936, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.antivirus {
    background-position: -35.5px -68.5px; }
  /* line 1939, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.commitcrm {
    background-position: -68.5px -68.5px; }
  /* line 1942, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.integration {
    background-position: -101.5px -68.5px; }
  /* line 1945, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.alerting {
    background-position: -134.5px -68.5px; }
  /* line 1948, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.active-discovery {
    background-position: -2.5px -101.5px; }
  /* line 1951, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.psa {
    background-position: -35.5px -101.5px; }
  /* line 1954, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.archiving {
    background-position: -68.5px -101.5px; }
  /* line 1957, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.scripting {
    background-position: -101.5px -101.5px; }
  /* line 1960, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.continuous-recovery {
    background-position: -134.5px -101.5px; }
  /* line 1963, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.community {
    background-position: -2.5px -134.5px; }
  /* line 1966, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.cloud_recovery {
    background-position: -35.5px -134.5px; }
  /* line 1969, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.building-blocks {
    background-position: -68.5px -134.5px; }
  /* line 1972, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.bare-metal {
    background-position: -101.5px -134.5px; }
  /* line 1975, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.disaster-recovery {
    background-position: -134.5px -134.5px; }
  /* line 1978, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.software-only {
    background-position: -167.5px -2.5px; }
  /* line 1981, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.retention-archiving {
    background-position: -167.5px -35.5px; }
  /* line 1984, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.backup-generic {
    background-position: -167.5px -68.5px; }
  /* line 1987, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.accelerator {
    background-position: -167.5px -101.5px; }
  /* line 1990, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.monitoring {
    background-position: -167.5px -134.5px; }
  /* line 1993, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.maintenance {
    background-position: -2.5px -167.5px; }
  /* line 1996, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.asset-tracking {
    background-position: -35.5px -167.5px; }
  /* line 1999, /Users/parthtarasaria/Dropbox/LGN/dev/marketo/3s - styles.scss */
  .sprite.app-control {
    background-position: -68.5px -167.5px; }